{% extends 'Tracker/base.html' %}

{% block content %}

    <section class="container tm-container-max-800">
        <h1 class="font-weight-bold tm-form-title pt-4 text-center" style="color: #d2691e">Health Questionnaire</h1>
        <form action="{% url 'Tracker:save_health' %}" method="post">
            {% csrf_token %}
            <div class="tm-bg-black tm-form-block">
                <div class="col-xl-6">
                    <p> 1. Indicate your Gender</p>
<!--                    <label class="mr-4">-->
                    <input class="with-gap" name="gender" type="radio" value="male" />
                    <span>Male</span>

                    <input class="with-gap" name="gender" type="radio" value="female" />
                    <span>Female</span>
                </div>
            </div>

            <div class="tm-bg-black tm-form-block">
              <div class="col-xl-6">
                  <p> 2. Select your appropriate age category </p>
                    <input class="with-gap" name="age" type="radio" value="18-25" />
                    <span>18-25</span>

                    <input class="with-gap" name="age" type="radio" value="36-54" />
                    <span>36-54</span>

                    <input class="with-gap" name="age" type="radio" value="55-74" />
                    <span>55-74</span>

                    <input class="with-gap" name="age" type="radio" value="75 and above" />
                    <span>75 and above</span>
                 </div>
            </div>

                <div class="tm-bg-black tm-form-block">
                <p class="mb-4"> 3. Do you suffer from any of the following underlying health issues, whether genetic or otherwise? Select all that apply </p>
                <ul>
                    <li>
                        <input class="with-gap" name="diseases" type="checkbox" value="tb" />
                        <span>A. TB </span>
                    </li>
                    <li>
                        <input class="with-gap" name="diseases" type="checkbox" value="asthma" />
                        <span>B. Asthma </span>
                    </li>
                    <li>
                        <input class="with-gap" name="diseases" type="checkbox" value="blood disorder" />
                        <span>C. Blood disorder </span>
                    </li>
                    <li>
                        <input class="with-gap" name="diseases" type="checkbox" value="cancer" />
                        <span>D. Cancer</span>
                    </li>
                    <li>
                        <input class="with-gap" name="diseases" type="checkbox" value="heart disease" />
                        <span>E. Heart Disease</span>
                    </li>
                    <li>
                        <input class="with-gap" name="diseases" type="checkbox" value="diabetes" />
                        <span>F. Diabetes</span>
                    </li>
                    <li>
                        <input class="with-gap" name="diseases" type="checkbox" value="obesity" />
                        <span>G. Obesity</span>
                    </li>
                </ul>
                </div>

                <div class="tm-bg-black tm-form-block">
                <p class="mb-4"> 4. Are you under any immunosuppressant medication currently or within the past 3 months? </p>
                <div class="col-xl-6">
                    <ul>
                        <li>
                            <input type="radio" name="medication" value="yes" />
                            <span>Yes</span>
                        </li>
                        <li>
                            <input type="radio" name="medication" value="no" />
                            <span>No</span>
                        </li>
                    </ul>
                </div>
                </div>

                <div class="tm-bg-black tm-form-block">
                    <p class="mb-4"> 5. Have you undergone any organ or blood stem cell transplantation procedure recently? </p>
                    <div class="row mb-4">
                        <div class="col-xl-6">
                            <ul>
                                <li>
                                    <input type="radio" name="transplant" value="yes" />
                                    <span>Yes</span>
                                </li>
                                <li>
                                    <input type="radio" name="transplant" value="no" />
                                    <span>No</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tm-bg-black tm-form-block">
                    <p class="mb-4"> 6. Have you been vaccinated against the covid-19 virus? </p>
                    <div class="col-xl-6">
                        <ul>
                            <li>
                                <input type="radio" name="vaccination" value="yes" />
                                <span>Yes</span>
                            </li>
                            <li>
                                <input type="radio" name="vaccination" value="no" />
                                <span>No</span>
                            </li>
                        </ul>
                    </div>
                </div>

            <div class="text-center mt-5">
                <button type="submit" class="waves-effect btn-large" style="background-color: #d2691e;">Submit</button> <br>
            </div>

        </form>

    </section>

<h5 style="color: darkslategrey; font-size: small; font-family: cursive;" class="font-weight-bold pt-5">{{disclaimer}} <br></h5>

{% endblock %}