<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health History</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
        {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/health.css' %}" rel="stylesheet">

</head>

<body id="survey" class="font-weight-light" style="background-color: #f6e1d2;">
    <div class="container tm-container-max-800">
        <div class="row">
            <div class="col-12">
                <header class="mt-5 mb-5 text-center">
                    <h1 class="font-weight-bold tm-form-title" style="color: darkorange">Health Questionnaire</h1>
                </header>
                <form action="" method="post">
                    <div class="tm-bg-black tm-form-block">
                        <div class="col-xl-6">
                            <p> 1. Indicate your Gender</p>
<!--                        <div class="input-field">-->
<!--                            <input placeholder="Your Name" name="name" id="name" type="text" class="validate">-->
<!--                        </div>-->
<!--                        <div class="input-field">-->
<!--                            <input placeholder="Your Email" name="email" id="email" type="text" class="validate">-->
<!--                        </div>-->
                        <label class="mr-4">
                            <input class="with-gap" name="gender" type="radio" value="m" />
                            <span>Male</span>
                        </label>
                        <label>
                            <input class="with-gap" name="gender" type="radio" value="f" />
                            <span>Female</span>
                        </label>
                    </div>
                    </div>

                    <div class="tm-bg-black tm-form-block">
                      <div class="col-xl-6">
                          <p> 2. Select your appropriate age category </p>
                          <label class="mr-4">
                            <input class="with-gap" name="age" type="radio" value="m" />
                            <span>18-25</span>
                        </label>
                        <label>
                            <input class="with-gap" name="age" type="radio" value="f" />
                            <span>36-54</span>
                        </label>
                          <label class="mr-4">
                            <input class="with-gap" name="age" type="radio" value="m" />
                            <span>55-74</span>
                        </label>
                        <label>
                            <input class="with-gap" name="age" type="radio" value="f" />
                            <span>75 and above</span>
                        </label>
                         </div>
                    </div>

                        <div class="tm-bg-black tm-form-block">
                        <p class="mb-4"> 3. Do you suffer from any of the following underlying health issues, whether genetic or otherwise? Select all that apply </p>
                        <ul>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value1" type="checkbox" />
                                    <span>A. TB </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value2" type="checkbox" />
                                    <span>B. Asthma </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value3" type="checkbox" />
                                    <span>C. Blood disorder </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value4" type="checkbox" />
                                    <span>D. Cancer</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value4" type="checkbox" />
                                    <span>E. Heart Disease</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value4" type="checkbox" />
                                    <span>F. Diabetes</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value4" type="checkbox" />
                                    <span>G. Obesity</span>
                                </label>
                            </li>
                        </ul>
                        </div>

                        <div class="tm-bg-black tm-form-block">
                        <p class="mb-4"> 4. Are you under any immunosuppressant medication currently or within the past 3 months? </p>
                        <div class="col-xl-6">
                                <ul>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice1" />
                                            <span>Yes</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice2" />
                                            <span>No</span>
                                        </label>
                                    </li>
                                </ul>
                        </div>
                        </div>

                        <div class="tm-bg-black tm-form-block">
                        <p class="mb-4"> 5. Have you undergone any organ or blood stem cell transplantation procedure recently? </p>
                        <div class="row mb-4">
                            <div class="col-xl-6">
                                <ul>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice1" />
                                            <span>Yes</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice2" />
                                            <span>No</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </div>

                        <div class="tm-bg-black tm-form-block">
                        <p class="mb-4"> 6. Have you been vaccinated against the covid-19 virus? </p>
                            <div class="col-xl-6">
                                <ul>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice1" />
                                            <span>Yes</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice2" />
                                            <span>No</span>
                                        </label>
                                    </li>
                                </ul>
                        </div>
                        </div>

                    <div class="text-center mt-5">
                        <button type="submit" class="waves-effect btn-large">Submit</button> <br>
                    </div>

                </form>
            </div>
        </div>
    </div>

<h6 style="color: darkslategrey;" class="font-weight-light pt-5">{{disclaimer}}</h6>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            $('select').formSelect();-->
<!--        });-->
<!--    </script>-->
</body>
</html>