{% extends 'Tracker/base.html' %}

{% block content %}
<!--    <h4 class="pt-5" style="color: darkslategrey;"><b>Covid-19 statistics and exposure predictions as at {{respdata1.Global.Date}}</b></h4>-->
    <section class="container tm-home-container">
        <h4 class="pt-5 ml-4 pl-5" style="color: darkslategrey;"><b>Covid-19 statistics and exposure predictions worldwide</b></h4>
        {% autoescape off %}
            {{ plot_div }}
        {% endautoescape %}
    <br><br>
        <h2 style="font-size: 32px;"><bold>Data per country </bold></h2><br>
        <section>
                {{df_obj|safe}}
            </section>
<br>
</section>

{% endblock %}