<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infection probability</title>
</head>
<body style="background-color: #f6e1d2;">
    <div class="container">
      <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-header h5 bg-gray-12"><h2><strong>COVID-19 Levels</strong></h2></div>
            <div class="card-body">
                <div class="step-table m-1">
                    <div class="row m-1">
                        <div class="col-2 notice-typename-covid-4">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level 4: Very High</p>
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-2 notice-typename-covid-3">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level 3: High</p>
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-2 notice-typename-covid-2">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level 2: Moderate</p>
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-2 notice-typename-covid-1">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level 1: Low</p>
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-2 notice-typename-covid-unknown">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level unknown</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{statement}}

</body>
</html>