{% extends 'Tracker/base.html' %}

{% block content %}
    <section class="container tm-container-max-800 mt-4">
        <h5 class="pt-5"><strong></strong></h5>
<!--        {{statement}}-->
        <div class="card">
            <div class="card-header h5 bg-danger"><h2><strong>Covid Exposure Risk: Level 4 (Very High)</strong></h2></div>
<!--                <div class="card-body bg-danger">-->
<!--                    <div class="row">-->
<!--                        <div class="l-1 p-2 col-12" style="font-weight: bolder; font-size: large">-->
<!--                            <p>Very High</p>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="row m-1" style="display: none">
                        <div class="col-2 notice-typename-covid-3">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level 3: High</p>
                        </div>
                    </div>

                    <div class="row m-1" style="display: none">
                        <div class="col-2 notice-typename-covid-2">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level 2: Moderate</p>
                        </div>
                    </div>

                    <div class="row m-1" style="display: none">
                        <div class="col-2 notice-typename-covid-1">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level 1: Low</p>
                        </div>
                    </div>

                    <div class="row m-1" style="display: none">
                        <div class="col-2 notice-typename-covid-unknown">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-9 ml-1 pt-2">
                            <p>Level unknown</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<br><br>
        <div class="card">
            <div class="card-header h5 bg-secondary"><h2><strong>Steps to take: </strong></h2></div>
                <div class="col-9 ml-1 pt-2">
                    <p>1. Dial *719# for immediate health services</p>
                </div>
                <div class="col-9 ml-1 pt-2">
                    <p>2. Visit your nearest health center for a covid check-up as soon as you can and follow the advice given by your healthcare provider</p>
                </div>
                <div class="col-9 ml-1 pt-2">
                    <p>3. Do this third thing...
                    {{contact_info}}</p>
                </div>
        </div>
        <br><br>

        <div class="card">
            <div class="card-header h5 bg-success"><h2><strong>Emergency contacts: </strong></h2></div>
                <div class="col-9 ml-1 pt-2">
                    <p>Contact 1</p>
                </div>
                <div class="col-9 ml-1 pt-2">
                    <p>Contact 2</p>
                </div>
                <div class="col-9 ml-1 pt-2">
                    <p>Contact 3
                    {{contact_info}}</p>
                </div>
        </div>

    </section>
{% endblock %}