{% extends 'Tracker/base.html' %}

{% block content %}

<section class="container tm-container-max-800">
    <h1 class="font-weight-bold tm-form-title text-center pt-4" style="color: #d2691e">Travel Questionnaire</h1>
    <form action="{% url 'Tracker:save_travel' %}" method="post">
        {% csrf_token %}
        <div class="tm-bg-black tm-form-block">
        <p class="mb-4"> 1. Have you been in any covid-19 high-risk areas (with the most daily reported cases in your region) recently? </p>
        <div class="col-xl-6">
                <ul>
                    <li>
                        <input type="radio" name="risk_areas" value="Yes" />
                        <span>Yes</span>
                    </li>
                    <li>
                        <input type="radio" name="risk_areas" value="No" />
                        <span>No</span>
                    </li>
                </ul>
        </div>
        </div>

        <div class="tm-bg-black tm-form-block">
        <p class="mb-4"> 2. Have you been in any places prone to constant large gatherings or crowds, such as hotels, clubs, restaurants, or social gatherings e.g. weddings/funerals? </p>
        <div class="col-xl-6">
                <ul>
                    <li>
                        <input type="radio" name="crowdy_places" value="Yes" />
                        <span>Yes</span>
                    </li>
                    <li>
                        <input type="radio" name="crowdy_places" value="No" />
                        <span>No</span>
                    </li>
                </ul>
        </div>
        </div>

        <div class="tm-bg-black tm-form-block">
        <p class="mb-4"> 3. Have you travelled internationally within the past 2 months? </p>
        <div class="row mb-4">
            <div class="col-xl-6">
                <ul>
                    <li>
                        <input type="radio" name="international_travel" value="Yes" />
                        <span>Yes</span>
                    </li>
                    <li>
                        <input type="radio" name="international_travel" value="No" />
                        <span>No</span>
                    </li>
                </ul>
            </div>
        </div>
        </div>

        <div class="tm-bg-black tm-form-block">
        <p class="mb-4"> 4. Have you been in contact with any covid-19 patient(s)? </p>
            <div class="col-xl-6">
                <ul>
                    <li>
                        <input type="radio" name="covidvictim_contact" value="Yes" />
                        <span>Yes</span>
                    </li>
                    <li>
                        <input type="radio" name="covidvictim_contact" value="No" />
                        <span>No</span>
                    </li>
                </ul>
        </div>
        </div>

    <div class="text-center mt-5">
        <button type="submit" class="waves-effect btn-large">Submit</button>
    </div>
        </form>
    </section>
<h5 style="color: darkslategrey; font-size: small; font-family: cursive;" class="font-weight-bold pt-5">{{disclaimer}} <br></h5>


{% endblock %}