body {
    color: gray;
}

ul, li {
    display: inline-flex;
    padding: 5px;
    flex-wrap: wrap;
}

.card-img-top {
        width: 300px;
}

.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        font-size:14px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.number{
    color: #aa9e5c;
    margin-left:5px;
    font-size:14px;
    font-weight: bold;
}
