/*home styles*/
body {
  padding: 10px;
    font-family: "Open Sans", sans-serif;
}

.home-container {
    padding: 30px 100px;
}

.nav-container {
    margin: 0 80px;
}
ul, li {
  display: inline-flex;
  margin-right: 15px;
  position: relative;
  bottom: 12px;
  flex-wrap: wrap;
}
 .float-right a:hover {
     color: midnightblue;
 }

 h5 {
     margin: 0;
 }
.card-img-top {
    width: 300px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    font-size:14px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.number{
    color: #aa9e5c;
    margin-left:5px;
    font-size:14px;
    font-weight: bold;
}
@media (max-width: 800px) {
    ul, li {
    display: inline-flex;
    padding: 3px;
    flex-wrap: wrap;
}
    h3 {
        position: relative;
        top: 30px;
        text-align: center;
    }
}

/*health form styles*/
.healthForm {

}

.genderField label {
    position: relative;
    top: 10px;
}

.ageField {

}

/*dataframe styles*/
.mystyle {
    font-size: 11pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid silver;

}

.mystyle td, th {
    padding: 5px;
}

.mystyle tr:nth-child(even) {
    background: #E0E0E0;
}

.mystyle tr:hover {
    background: silver;
    cursor: pointer;
}

